services:
  web:
    build: .
    ports:
      - "5001:5000"
    volumes:
      - .:/app
    command: python -m webapp.app
    environment:
      FLASK_ENV: development
      DATABASE_URL: sqlite:///pharmacy_inventory.db
      KAFKA_BOOTSTRAP_SERVERS: localhost:29092